body {
  float: left;
  background-color: azure;
}

.esquerda {
  margin: 0;
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 100%;
  flex-direction: column;
  background-color: rgb(9, 53, 110);
}

.direita {
  display: flex;
  top: 0%;
  flex-direction: column;
  padding: 0;
  position: absolute;
  left: 330px;
  height: 100%;
  width: 900px;
  margin-left: 80px;
  font-family: "Times New Roman", Times, serif;
  align-items: flex-start;
  justify-content: center;
}

a {
  text-decoration: none;
  font-size: 17px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 200;
  color: #fdfdff;
}

#perfil-img {
  width: 250px;
  border-radius: 50%;
  border: solid 5px #0407a0;
  margin-bottom: 12px;
  height: 250px;
}

#nome {
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-top: 0;
}

#sobrenome {
  color: #720d1e;
  margin-left: 15px;
}

#dados {
  margin-top: 0;
  text-transform: uppercase;
}

#descricao {
  margin-top: 10px;
  font-size: 30px;
  color: rgb(46, 43, 43);
}

.redes {
  margin: 5px;
  margin-left: 40px;
}

#links {
  justify-content: space-evenly;
  margin-left: 0;
}

.links:hover,
.links:active {
  color: #000000;
  border-radius: 2px;
}

ul.a {
  list-style-type: square;
}

.nao-ordenada {
  position: absolute;
  left: 400px;
  top: 300px;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.lista-ordenadas {
  color: #000000;
  font-size: 40px;
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.listas-n-ordenadas {
  color: #000000;
  font-size: 40px;
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 5px;
}

.listas {
  position: absolute;
  left: 400px;
  top: 300px;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}
